  <% let current_user = (selected_user != undefined) ? selected_user : session_user; %>

  <!-- Content -->
  <div class="container">

    <!--Grid row-->
    <div class="row wow fadeIn">

      <!--Grid column-->
      <div class="col-md-6 mb-4 white-text text-center text-md-left" style="background-color: royalblue;">

        <img src="<%= current_user.src %>" alt="" class="rounded-circle mr-3" alt="profile-image" height="110px"
          width="110px">
        <br>
        <p>
          <strong>Gebruikersnaam</strong>
        </p>

        <hr class="hr-light" ;>

        <p>
          <strong><%= current_user.voornaam + " " + current_user.achternaam %></strong>
          <% if(!current_user._id.equals(session_user._id)) { %>
            <form action="/follow/<%= current_user._id %>" method="POST">
              <button class="btn btn-primary"><i class="fas fa-magic mr-1"></i> Volgen</button>
          </form>
            <% } %>

        </p>



      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6 mb-4 white-text text-center text-md-left">

        <!--Card-->
        <div class="card h-100" style="background-color: royalblue;">

          <!--Card content-->
          <div class="card-body">

  
              <!-- Heading -->
              <h3 class="dark-grey-text text-center">
                <strong>Biografie</strong>
              </h3>
              <hr class="hr-light" ;>

              <p class="d-flex"><%= current_user.biografie %></p>

          </div>

        </div>
        <!--/.Card-->


      </div>
      <!--Grid column-->


      <!-- User uploads -->

      <!--Grid column-->


      <% if(current_user.uploads.length == 0 || current_user.uploads == undefined) { %>

      <div class="row border border-dark">

        <div class="col d-flex col-md-4 mx-auto justify-content-center justify-content-md-start">
          <span>Er zijn nog geen foto's geupload</span>
        </div>
      </div>

      <% } else { %>

      <% for(let x = 0; x < current_user.uploads.length; x++) { %>

      <div class="card-body" style="background-color: greenyellow;">
        <div class="col-sm-4"><img src="<%= current_user.uploads[x].src %>" height="220" /></div>
        <% console.log(current_user.uploads) %>
      </div>

      <% } %>
      <% } %>

    </div>
    <!--Grid row-->

  </div>
  <!-- Content -->